# Ignorar pastas de dependências ou builds
node_modules/** linguist-vendored
dist/** linguist-vendored
build/** linguist-vendored

# Marcar arquivos como gerados ou ignorados
*.c linguist-generated=true
*.h linguist-generated=true
*.pyx linguist-generated=true
